{% extends "layout.html" %}

{% block main %}
    <h3 style="margin-bottom: 3%">Student's Information</h3>
    <table class="table" style="width: 50%; margin: 0 auto">
        <tbody>
            <tr>
                <th scope="row">netID</th>
                <td>{{user.netID}}</td>
            </tr>
            <tr>
                <th scope="row">First Name</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th scope="row">Last Name</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th scope="row">Major</th>
                <td>{{user.major}}</td>
            </tr>
            <tr>
                <th scope="row">Class</th>
                <td>{{user.class}}</td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th scope="row">College</th>
                <td>{{user.college}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Major Requirements</th>
                <td>{{user.major_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Humanities Requirements</th>
                <td>{{user.hum_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Science Requirements</th>
                <td>{{user.sci_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Social Science Requirements</th>
                <td>{{user.social_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Language Requirements</th>
                <td>{{user.lang_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Quantitative Reasoning Requirements</th>
                <td>{{user.qr_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Writing Requirements</th>
                <td>{{user.wri_requirements}}</td>
            </tr>
            <tr>
                <th scope="row">Graduation Requirements</th>
                <td>{{user.grad_requirements}}</td>
            </tr>
        </tbody>
    </table>
    <form action="/edit" style="margin-top: 2%; width: 100%">
        <button class="btn btn-primary" type="submit">Edit/Change Password</button>
    </form>
{% endblock %}